@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .maxWidth {
        @apply max-w-[1280px] px-[10px] mx-auto;
    }

    .navIcon {
        @apply h-8 w-8 w-full h-full;
    } 
}

* {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #000319;
    color: #E4ECFF;
}

.customBg {
    background-image: url(assets/gridBg2.svg);
    background-position: center;
    background-size: cover;
}

.customBg.bottomBg{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 800px;
    z-index: -1;
    width: 100%;
    max-width: 850px;
}